In [15]:
import pandas as pd

In [17]:
# File to Load

file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame

purchase_data_df = pd.read_csv(file)

In [26]:
#display total number of players
unique_SN = purchase_data_df["SN"].unique()
total = len(unique_SN)
total_players = {"Total Players": [total]}
total_players_df = pd.DataFrame (total_players, columns = ['Total Players'])
total_players_df.head()

   Total Players
0            576

In [27]:
#Purchasing Analysis Total
 
#Run basic calculations to obtain number of unique items, average price, etc.
total_rev = purchase_data_df["Price"].sum()
unique_items = purchase_data_df["Item Name"].unique()
num_purchases = purchase_data_df["Purchase ID"].value_counts()
avg_price = total_rev / len(num_purchases)

#Create a summary data frame to hold the results
purchasing_analysis = {'Number of Unique Items': [len(unique_items)], 'Average Price': [avg_price], 'Number of Purchases': [len(num_purchases)], 'Total Revenue': [total_rev]}
purchasing_analysis_df = pd.DataFrame(purchasing_analysis, columns = ['Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue'])

#format currency

#Display the summary data frame
purchasing_analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [32]:
#Gender Demographics

#find number of players for each gender
gender = purchase_data_df.groupby("Gender")
unique_SN2 = gender["SN"].nunique()

#find percentage out of total players for each gender
percent_players = (unique_SN2 / total)*100

#create dataframe
gender_count_df = pd.DataFrame({"Total Count": unique_SN2, "Percentage of Players": percent_players})

#format percentage

#display data frame
gender_count_df

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722

In [46]:
#Purchasing Analysis (Gender)
 
#Run basic calculations to obtain purchase count, avg. purchase price, total purchase value, avg. purchase total per person
gender2 = purchase_data_df.groupby("Gender")
purchase_count = gender2["SN"].count()
avg_price2 = gender2["Price"].mean()
total_gender_value = gender2["Price"].sum()
avg_per_person = (gender2["Price"].sum()/unique_SN2)

#Create a summary data frame to hold the results
gender_dem_df = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_price2, "Total Purchase Value": total_gender_value, "Average Purchase Total Per Person": avg_per_person})

#format currency


#Display the summary data frame
gender_de

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [ ]:
#Age Demographics
 
#Establish bins for ages


#Categorize the existing players using the age bins. Hint: use pd.cut()


#Calculate the numbers and percentages by age group


#Create a summary data frame to hold the results


#Optional: round the percentage column to two decimal points


#Display Age Demographics Table

In [ ]:
#Purchasing Analysis (Age)
 
#Bin the purchase_data data frame by age


#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


#Create a summary data frame to hold the results


#optional: give the displayed data cleaner formatting


#Display the summary data frame

In [ ]:
#Top Spenders
 
#Run basic calculations to obtain the results in the table below


#Create a summary data frame to hold the results


#Sort the total purchase value column in descending order


#Optional: give the displayed data cleaner formatting


#Display a preview of the summary data frame

In [ ]:
#Most Popular Items
 
#Retrieve the Item ID, Item Name, and Item Price columns


#Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


#Create a summary data frame to hold the results


#Sort the purchase count column in descending order


#Optional: give the displayed data cleaner formatting


#Display a preview of the summary data frame

In [ ]:
#Most Profitable Items
 
#Sort the above table by total purchase value in descending order


#Optional: give the displayed data cleaner formatting


#Display a preview of the data frame