In [1]:
import pandas as pd
import numpy as np

In [2]:
# File to Load
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file)

In [3]:
#display total number of players
unique_SN = purchase_data_df["SN"].unique()
total = len(unique_SN)
total_players = {"Total Players": [total]}
total_players_df = pd.DataFrame (total_players, columns = ['Total Players'])
total_players_df.head()

   Total Players
0            576

In [4]:
#Purchasing Analysis Total
 
#Run basic calculations to obtain number of unique items, average price, etc.
total_rev = purchase_data_df["Price"].sum()
unique_items = purchase_data_df["Item Name"].unique()
num_purchases = purchase_data_df["Purchase ID"].value_counts()
avg_price = total_rev / len(num_purchases)

#Create a summary data frame to hold the results
purchasing_analysis = {'Number of Unique Items': [len(unique_items)], 'Average Price': [avg_price], 'Number of Purchases': [len(num_purchases)], 'Total Revenue': [total_rev]}
purchasing_analysis_df = pd.DataFrame(purchasing_analysis, columns = ['Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue'])

#format currency
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("${:,.2f}".format)
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("${:,.2f}".format)

#Display the summary data frame
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [5]:
#Gender Demographics

#Find number of players for each gender
gender = purchase_data_df.groupby("Gender")
unique_SN2 = gender["SN"].nunique()

#Find percentage out of total players for each gender
percent_players = (unique_SN2 / total)*100

#Create summary dataframe
gender_count_df = pd.DataFrame({"Total Count": unique_SN2, "Percentage of Players": percent_players})

#Format percentage
gender_count_df["Percentage of Players"] = gender_count_df["Percentage of Players"].map("{:,.2f}%".format)

#Display data frame
gender_count_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [6]:
#Purchasing Analysis (Gender)
 
#Run basic calculations to obtain purchase count, avg. purchase price, total purchase value, avg. purchase total per person
purchase_count = gender["SN"].count()
avg_price2 = gender["Price"].mean()
total_gender_value = gender["Price"].sum()
avg_per_person = (gender["Price"].sum()/unique_SN2)

#Create a summary data frame to hold the results
gender_dem_df = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": avg_price2, "Total Purchase Value": total_gender_value, "Average Purchase Total Per Person": avg_per_person})

#Format currency
gender_dem_df["Average Purchase Price"] = gender_dem_df["Average Purchase Price"].map("${:,.2f}".format)
gender_dem_df["Total Purchase Value"] = gender_dem_df["Total Purchase Value"].map("${:,.2f}".format)
gender_dem_df["Average Purchase Total Per Person"] = gender_dem_df["Average Purchase Total Per Person"].map("${:,.2f}".format)

#Display the summary data frame
gender_dem_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [7]:
#Age Demographics
 
#Establish bins for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data_df["Age Groups"] = pd.cut(purchase_data_df["Age"], bins, labels=age_groups, include_lowest=True)

#Calculate the numbers and percentages by age group
age = purchase_data_df.groupby("Age Groups")
unique_SN3 = age["SN"].nunique()
percent_players2 = (unique_SN3 / total)*100

#Create summary dataframe
age_count_df = pd.DataFrame({"Total Count": unique_SN3, "Percentage of Players": percent_players2})

#Format percentage
age_count_df["Percentage of Players"] = age_count_df["Percentage of Players"].map("{:,.2f}%".format)

#Display dataframe
age_count_df

            Total Count Percentage of Players
Age Groups
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

In [8]:
#Purchasing Analysis (Age)
 
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
purchase_count2 = age["SN"].count()
avg_price3 = age["Price"].mean()
total_age_value = age["Price"].sum()
avg_per_person2 = (age["Price"].sum()/unique_SN3)

#Create a summary data frame to hold the results
age_dem_df = pd.DataFrame({"Purchase Count": purchase_count2, "Average Purchase Price": avg_price3, "Total Purchase Value": total_age_value, "Average Purchase Total Per Person": avg_per_person2})

#Format currency
age_dem_df["Average Purchase Price"] = age_dem_df["Average Purchase Price"].map("${:,.2f}".format)
age_dem_df["Total Purchase Value"] = age_dem_df["Total Purchase Value"].map("${:,.2f}".format)
age_dem_df["Average Purchase Total Per Person"] = age_dem_df["Average Purchase Total Per Person"].map("${:,.2f}".format)


#Display the summary data frame
age_dem_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total Per Person
Age Groups,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [9]:
#Top Spenders
 
#Group data by users
users = purchase_data_df.groupby("SN")

#Run calculations
indv_users = users["Purchase ID"].count()
ind_avg_price = users["Price"].mean()
total_ind_value = users["Price"].sum()

#Create summary dataframe
top_spenders_df = pd.DataFrame({"Purchase Count": indv_users, "Average Purchase Price": ind_avg_price, "Total Purchase Value": total_ind_value})

#Sort the total purchase value column in descending order
top_df = top_spenders_df.sort_values("Total Purchase Value", ascending=False)

#Format currency
top_df["Average Purchase Price"] = top_spenders_df["Average Purchase Price"].map("${:,.2f}".format)
top_df["Total Purchase Value"] = top_spenders_df["Total Purchase Value"].map("${:,.2f}".format)

#Display a preview of the summary data frame
top_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [20]:
#Most Popular Items

#Retrieve the Item ID, Item Name, and Item Price columns
items_df = purchase_data_df[["Item ID", "Item Name", "Price"]]

#Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
items = items_df.groupby(["Item ID", "Item Name"])
items_count = items["Item ID"].count()
item_avg_price = items["Price"].mean()
total_item_value = items["Price"].sum()

#Create a summary data frame to hold the results
pop_items_df = pd.DataFrame({"Purchase Count": items_count, "Average Purchase Price": item_avg_price, "Total Purchase Value": total_item_value})

#Sort the purchase count column in descending order
top_item_df = pop_items_df.sort_values("Purchase Count", ascending=False)

#Format currency
top_item_df["Average Purchase Price"] = top_item_df["Average Purchase Price"].map("${:,.2f}".format)
top_item_df["Total Purchase Value"] = top_item_df["Total Purchase Value"].map("${:,.2f}".format)

#Display a preview of the summary data frame
top_item_df.head()

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [21]:
#Most Profitable Items
 
#Sort the above table by total purchase value in descending order
profit_df = pop_items_df.sort_values("Total Purchase Value", ascending=False)

#Format currency
profit_df["Average Purchase Price"] = profit_df["Average Purchase Price"].map("${:,.2f}".format)
profit_df["Total Purchase Value"] = profit_df["Total Purchase Value"].map("${:,.2f}".format)

#Display a preview of the data frame
profit_df.head()

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80